files:
    /usr/local/bin/my_cron_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
            source $PYTHONPATH/activate
            python3 /var/app/current/manage.py crontab add
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: aicansell.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
container_commands:
  collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
  cron_script:
    command: "/usr/local/bin/my_cron_script.sh"